app/*
app/*/
!app/wp-config.php
!app/index.php
!app/wp-content/
app/wp-content/*
app/wp-content/*/
!app/wp-content/themes/
!app/wp-content/plugins/
app/wp-content/plugins/*
app/wp-content/plugins/*/

dist/*
dist/*/
!dist/wp-config.php
!dist/index.php
!dist/wp-content/
dist/wp-content/*
dist/wp-content/*/
!dist/wp-content/themes/
!dist/wp-content/plugins/
dist/wp-content/plugins/*
dist/wp-content/plugins/*/

# White-list any plugins you DO want in version control
!app/wp-content/plugins/advanced-custom-fields-pro/
!dist/wp-content/plugins/advanced-custom-fields-pro/

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
node_modules/
.tmp/

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools
_notes
dwsync.xml